[Unit]
Description=Desperteitor play service

[Service]
User=pi
WorkingDirectory=/home/pi/desperteitor
ExecStart=sudo python3 /home/pi/desperteitor/poweroff.py
Restart=always

[Install]
WantedBy=multi-user.target
